aniso8601==1.2.0
click==6.7
Flask==0.12
Flask-Cors==3.0.2
Flask-SQLAlchemy==2.1
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
MySQL-python==1.2.5
python-dateutil==2.6.0
pytz==2016.10
six==1.10.0
SQLAlchemy==1.1.5
Werkzeug==0.11.15
celery==4.0.2
flask-restful==0.3.5
requests==2.13.0
aliyun-python-sdk-alidns==2.0.6
aliyun-python-sdk-core==2.0.37
aliyun-python-sdk-drds==0.0.1
aliyun-python-sdk-ecs==3.0.0
aliyun-python-sdk-oss==0.4.4.0
aliyun-python-sdk-ram==2.0.7
aliyun-python-sdk-rds==2.0.5
aliyun-python-sdk-slb==2.1.2